@using PagedList.Mvc
@model PagedList.IPagedList<BankATMSimulator.Models.BankAtmEntities.Transaction>

@{
    ViewBag.Title = "Statement";
}

<p>

</p>

<div class="container">
    <h2>Statements</h2>
    <table class="table table-bordered table-hover table-condensed table-striped">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().TransactionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Amount)
            </th>
        </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            </tr>
            </tbody>
        }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("Statement", new { page }),
        new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })



    
</div>
